<div data-hook="admin_tracker_form_fields" class="row">
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-12" data-hook="edrone_app_id">
        <%= f.field_container :edrone_app_id, class: ["form-group"], "data-hook" => "edrone_app_id" do %>
          <%= f.label :edrone_app_id, Spree.t(:app_id) %>
          <%= f.text_field :edrone_app_id, class: 'form-control' %>
          <%= f.error_message_on :edrone_app_id %>
        <% end %>
      </div>
      <div class="col-xs-12" data-hook="edrone_app_secret">
        <%= f.field_container :edrone_app_secret, class: ["form-group"], "data-hook" => "edrone_app_secret" do %>
          <%= f.label :edrone_app_secret, Spree.t(:app_secret) %>
          <%= f.text_field :edrone_app_secret, class: 'form-control' %>
          <%= f.error_message_on :edrone_app_secret %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div data-hook="active" class="form-group">
      <%= label_tag nil, Spree.t(:active) %>
      <div class="radio">
        <%= label_tag :edrone_active_true do %>
          <%= radio_button(:edrone, :active, true) %>
          <%= Spree.t(:say_yes) %>
        <% end %>
      </div>
      <div class="radio">
        <%= label_tag :edrone_active_false do %>
          <%= radio_button(:edrone, :active, false) %>
          <%= Spree.t(:say_no) %>
        <% end %>
      </div>
    </div>
  </div>
  <div data-hook="additional_tracker_fields"></div>
</div>
<div data-hook="admin_tracker_form_fields" class="row">
</div>
