<% content_for :page_title do %>
  <%= Spree.t(:edrone_module) %>
<% end %>
<% content_for :page_actions do %>
  <% if !@edrones.any? %>
    <%= button_link_to Spree.t(:integrate_with_edrone), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_tracker_link' %>
  <% end %>
<% end if can? :create, Spree::Edrone %>

<% if @edrones.any? %>
  <table class="table">
    <colgroup>
      <col style="width: 30%">
      <col style="width: 40%">
      <col style="width: 15%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_trackers_index_headers">
        <th><%= Spree.t(:app_id) %></th>
        <th><%= Spree.t(:app_secret) %></th>
        <th class="text-center"><%= Spree.t(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @edrones.each do |edrone|%>
        <tr id="<%= spree_dom_id edrone %>" data-hook="admin_trackers_index_rows">
          <td><%= edrone.edrone_app_id %></td>
          <td><%= edrone.edrone_app_secret %></td>
          <td class="text-center"><%= edrone.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="actions text-right">
            <%= link_to_edit(edrone, no_text: true) if can? :edit, edrone %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <%= link_to(Spree.t(:integrate_with_edrone), new_object_url) if can? :create, Spree::Edrone %>!
  </div>
<% end %>
